<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Profile Picture</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile-image">
    <img src="{{avatarPhoto}}">
  </div>
  <div>
    <button ion-button round outline (click)="chooseimage()">Choose an image</button>
  </div>
  <div>
    <h2 (click)="editname()">{{displayName}}</h2>
    <ion-icon name="ion-edit"></ion-icon>
  </div>
  <div>
    <button ion-button round outline (click)="save()">Later</button>
  </div>
</ion-content>