<ion-content class="background">
  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <div class="spacer" style="height: 10px;"></div>
        <p>Please enter the confirmation code sent to your email to verify your account:</p>
        <div class="spacer" style="height: 10px;"></div>
        <ion-item>
          <ion-input placeholder="Enter Confirmation Code" type="text" [(ngModel)]="code" name="code"></ion-input>
        </ion-item>
        <div class="spacer" style="height: 10px;"></div>
        <button ion-button block round outline color="light" (click)="confirm()">Confirm Login</button>
        <div class="spacer" style="height: 10px;"></div>
        <button ion-button block round outline color="light" (click)="login()">Return to login</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>